<div>
  <mat-table [dataSource]="personList" matSort>
    <ng-container *ngFor="let one of columnsName" matColumnDef={{one}}>
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{one}}</mat-header-cell>
      <mat-cell *matCellDef="let personList">{{personList[one]}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsName" color="primary"></mat-header-row>
    <mat-row *matRowDef="let row; columns:columnsName"></mat-row>
    </mat-table>
</div>

<app-edit-data [people]="personList"></app-edit-data>
